# Airtable Configuration
AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
AIRTABLE_TEAMS_TABLE_ID=
AIRTABLE_MEMBERS_TABLE_ID=
AIRTABLE_CONTACTS_TABLE_ID=
AIRTABLE_SUBMISSIONS_TABLE_ID=
AIRTABLE_MILESTONES_TABLE_ID=
AIRTABLE_COHORTS_TABLE_ID=

# Vercel Blob Configuration
# Note: This will be FILE_UPLOAD_READ_WRITE_TOKEN when using the patch script
BLOB_READ_WRITE_TOKEN=

# Auth0 Configuration
AUTH0_SECRET=
AUTH0_BASE_URL=
AUTH0_ISSUER_BASE_URL=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=